// 全局样式
// variables.scss 已通过 vite additionalData 全局注入，此处可写全局覆盖

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: $text-primary;
  background: $bg-page;
}
